<a href="https://colab.research.google.com/github/laresamdeola/AI-Automation-Practical-Session-WTO/blob/main/AI_Traffic_Congestion_Model_UK.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
data = pd.read_csv('region_traffic_by_vehicle_type.csv')

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 341 entries, 0 to 340
Data columns (total 13 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   year                        341 non-null    int64
 1   region_id                   341 non-null    int64
 2   region_name                 341 non-null    object
 3   region_ons_code             341 non-null    object
 4   link_length_km              341 non-null    float64
 5   link_length_miles           341 non-null    float64
 6   pedal_cycles                341 non-null    float64
 7   two_wheeled_motor_vehicles  341 non-null    float64
 8   cars_and_taxis              341 non-null    float64
 9   buses_and_coaches           341 non-null    float64
 10  LGVs                        341 non-null    float64
 11  all_HGVs                    341 non-null    float64
 12  all_motor_vehicles          341 non-null    float64
dtypes: float64(9), int64(2), object(2)
memory usage: 34.8+ KB

In [4]:
data.drop(['region_ons_code'], axis=1, inplace=True)

In [5]:
data

,year,region_id,region_name,link_length_km,link_length_miles,pedal_cycles,two_wheeled_motor_vehicles,cars_and_taxis,buses_and_coaches,LGVs,all_HGVs,all_motor_vehicles
0,1993,1,South West,48751.55,30292.81,228000000.0,289900000.0,1.967430e+10,245000000.0,2.351700e+09,1.295600e+09,2.385660e+10
1,1993,2,East Midlands,30681.75,19064.76,199700000.0,172800000.0,1.620020e+10,190100000.0,2.082200e+09,1.647100e+09,2.029240e+10
2,1993,3,Scotland,58532.65,36370.50,147300000.0,126400000.0,1.767760e+10,334300000.0,2.231000e+09,1.339900e+09,2.170930e+10
3,1993,4,Wales,32543.50,20221.59,81700000.0,104600000.0,1.127880e+10,156300000.0,1.452700e+09,7.352000e+08,1.372760e+10
4,1993,5,North West,35952.60,22339.91,251400000.0,199200000.0,2.373000e+10,339800000.0,2.801800e+09,1.834400e+09,2.890520e+10
...,...,...,...,...,...,...,...,...,...,...,...,...
336,2023,7,East of England,39712.80,24676.39,451500000.0,299400000.0,2.829070e+10,162000000.0,6.990700e+09,2.158400e+09,3.790120e+10
337,2023,8,Yorkshire and the Humber,31259.81,19423.95,325200000.0,158400000.0,2.090730e+10,151700000.0,4.785700e+09,1.875700e+09,2.787890e+10
338,2023,9,South East,48374.07,30058.25,603200000.0,428700000.0,4.059360e+10,198700000.0,9.206100e+09,2.396000e+09,5.282310e+10
339,2023,10,West Midlands,33278.63,20678.38,217600000.0,166900000.0,2.438770e+10,120800000.0,5.290300e+09,2.054800e+09,3.202050e+10
340,2023,11,North East,16403.70,10192.79,105700000.0,64200000.0,9.933300e+09,122100000.0,2.118900e+09,4.289000e+08,1.266740e+10

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 341 entries, 0 to 340
Data columns (total 12 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   year                        341 non-null    int64
 1   region_id                   341 non-null    int64
 2   region_name                 341 non-null    object
 3   link_length_km              341 non-null    float64
 4   link_length_miles           341 non-null    float64
 5   pedal_cycles                341 non-null    float64
 6   two_wheeled_motor_vehicles  341 non-null    float64
 7   cars_and_taxis              341 non-null    float64
 8   buses_and_coaches           341 non-null    float64
 9   LGVs                        341 non-null    float64
 10  all_HGVs                    341 non-null    float64
 11  all_motor_vehicles          341 non-null    float64
dtypes: float64(9), int64(2), object(1)
memory usage: 32.1+ KB

In [7]:
data.describe().T

,count,mean,std,min,25%,50%,75%,max
year,341.0,2.008000e+03,8.957416e+00,1.993000e+03,2.000000e+03,2.008000e+03,2.016000e+03,2.023000e+03
region_id,341.0,6.000000e+00,3.166925e+00,1.000000e+00,3.000000e+00,6.000000e+00,9.000000e+00,1.100000e+01
link_length_km,341.0,3.570254e+04,1.272603e+04,1.435045e+04,3.128680e+04,3.383095e+04,4.724245e+04,5.964230e+04
link_length_miles,341.0,2.218453e+04,7.907586e+03,8.916960e+03,1.944072e+04,2.102158e+04,2.935510e+04,3.706001e+04
pedal_cycles,341.0,2.814839e+08,1.443353e+08,7.820000e+07,1.959000e+08,2.563000e+08,3.656000e+08,9.506000e+08
two_wheeled_motor_vehicles,341.0,2.540721e+08,1.325011e+08,5.030000e+07,1.685000e+08,2.143000e+08,3.400000e+08,7.421000e+08
cars_and_taxis,341.0,2.167127e+10,8.079843e+09,7.676500e+09,1.628330e+10,2.096070e+10,2.562090e+10,4.321050e+10
buses_and_coaches,341.0,2.586604e+08,8.177713e+07,7.430000e+07,1.918000e+08,2.621000e+08,3.196000e+08,4.362000e+08
LGVs,341.0,3.716729e+09,1.580092e+09,1.021900e+09,2.552600e+09,3.514600e+09,4.577700e+09,9.227100e+09
all_HGVs,341.0,1.537045e+09,6.221561e+08,4.028000e+08,7.945000e+08,1.749100e+09,1.974600e+09,2.644100e+09
all_motor_vehicles,341.0,2.743778e+10,1.009799e+10,1.006980e+10,2.029240e+10,2.690020e+10,3.249660e+10,5.488770e+10

In [9]:
data.loc[:, 'region_name'].unique()

array(['South West', 'East Midlands', 'Scotland', 'Wales', 'North West',
       'London', 'East of England', 'Yorkshire and the Humber',
       'South East', 'West Midlands', 'North East'], dtype=object)

In [16]:
data.loc[:, 'year'].unique()

array([1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003,
       2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014,
       2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023])

In [17]:
from sklearn.preprocessing import OrdinalEncoder

encoder = OrdinalEncoder()

data.loc[:, 'region_name'] = encoder.fit_transform(data.loc[:, 'region_name'].values.reshape(-1, 1))

In [ ]:
'''
South West = 7.0
East Midlands = 0.0
Scotland = 5.0
Wales = 8.0
North West = 4.0
West Midlands = 9.0
East of England = 1.0
South East = 6.0
London = 2.0
North East = 3.0
Yorkshire and the Humber = 10.0
'''

In [22]:
data.loc[10:20, 'region_name']

10     3.0
11     7.0
12     0.0
13     5.0
14     8.0
15     4.0
16     2.0
17     1.0
18    10.0
19     6.0
20     9.0
Name: region_name, dtype: object

In [23]:
data.corr()

,year,region_id,region_name,link_length_km,link_length_miles,pedal_cycles,two_wheeled_motor_vehicles,cars_and_taxis,buses_and_coaches,LGVs,all_HGVs,all_motor_vehicles
year,1.000000e+00,-1.029907e-15,5.149535e-16,0.026112,0.026112,0.331384,0.014293,0.077427,-0.402765,0.526186,0.015704,0.142181
region_id,-1.029907e-15,1.000000e+00,1.818182e-01,-0.446510,-0.446510,0.117666,-0.068478,0.045037,-0.044200,0.000431,-0.006345,0.034457
region_name,5.149535e-16,1.818182e-01,1.000000e+00,0.247607,0.247607,-0.193177,-0.149526,0.083935,-0.038928,0.073358,0.068423,0.080577
link_length_km,2.611206e-02,-4.465104e-01,2.476069e-01,1.000000,1.000000,0.160881,0.104236,0.583429,0.338933,0.554235,0.562490,0.592320
link_length_miles,2.611206e-02,-4.465104e-01,2.476069e-01,1.000000,1.000000,0.160881,0.104236,0.583429,0.338933,0.554235,0.562490,0.592320
pedal_cycles,3.313839e-01,1.176660e-01,-1.931773e-01,0.160881,0.160881,1.000000,0.738415,0.673807,0.242761,0.738432,0.497681,0.697008
two_wheeled_motor_vehicles,1.429269e-02,-6.847846e-02,-1.495257e-01,0.104236,0.104236,0.738415,1.000000,0.596041,0.544962,0.456440,0.279859,0.583118
cars_and_taxis,7.742710e-02,4.503747e-02,8.393545e-02,0.583429,0.583429,0.673807,0.596041,1.000000,0.484339,0.851002,0.833912,0.996428
buses_and_coaches,-4.027653e-01,-4.420021e-02,-3.892844e-02,0.338933,0.338933,0.242761,0.544962,0.484339,1.000000,0.149835,0.346515,0.447586
LGVs,5.261861e-01,4.313579e-04,7.335758e-02,0.554235,0.554235,0.738432,0.456440,0.851002,0.149835,1.000000,0.724660,0.889250
all_HGVs,1.570396e-02,-6.345486e-03,6.842255e-02,0.562490,0.562490,0.497681,0.279859,0.833912,0.346515,0.724660,1.000000,0.848732
all_motor_vehicles,1.421809e-01,3.445650e-02,8.057721e-02,0.592320,0.592320,0.697008,0.583118,0.996428,0.447586,0.889250,0.848732,1.000000